.canvas{
    width: 100vw;
    height: 100vh; 
    overflow: hidden; 
    font-family: var(--font-geist-sans);
    background-color: rgb(240, 240, 240);
}
.sectionone{

    height: 100vh;
 
   
}
.sectionone h1{

    max-width: 100vw;
    line-height: 60px;
  
    text-align: center;
    margin-top: 10vh;

    font-size: 4rem;
}
.canvas button{
    font-family: var(--font-geist-sans);

}
.lock {
    color: red;
    text-decoration: wavy;
  }
  .cls{
    color: rgb(52, 140, 17);

  }
  .srp{
    color: red;


  }
  
.sectionone p{
    font-size: 2.5rem;
    text-align: center;
   transform: translateY(40vh);
   


   /* Standard property for Firefox */
/* Ensures the text is transparent for Firefox */


  


}


.toppart{
    display: flex;
    flex-direction: column;

}
.sectiontwo{
    height: 80vh;
    transform: translateY(-15vh);

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.secondparagraph{
    font-size: 1.94rem;
    text-align: center;
    opacity: .46;
    margin-top: 10vh;
    max-width: 85vw;
    


}
.zinoclassic{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(15vh);

}
.classicboxheader{
    transform: translateY(-3.5vh);
}
.classicinfo{
    transform: translateY(.75vh);
    opacity: .46;


}
.classicsmallheader{
    letter-spacing: 3px;
    color: rgb(52, 140, 17);

   
}
.classicsmallheader2{
    letter-spacing: 3px;
    font-size: 2.3rem;

    color: red;

   
}
.zinosurprise{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(180vh);
    text-align: center;
}
.goodies{
    color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    /* display: none; */
    text-align: center;
    scale: .7;
    transform: translate(20vw,-140vh);
}
.goodies li{
    background-color: black;
    border-radius: 19px;
    width: 60vw;
    height: 5vh;
}
.surpriseinfo{
    text-align: center;
    font-size: 2.16rem;
    transform: translateY(105vh);
    color: rgb(0, 0, 0);
    opacity: .67;

}
.products{
    font-size: 4.15rem;
    text-align: center;
}
.productinfo{
    font-size: 2.16rem;
    text-align: center;

}
.card{
    height: 50vh;
    border-radius: 19px;
    width: 85vw;
    background-color: blanchedalmond;
}
.card2{
    height: 50vh;
    border-radius: 19px;
    width: 85vw;
    background-color: blanchedalmond;
}
/* .card::after{
    content:'';
    width: 30vw;
    position: absolute;
    z-index: 3;
    height: 30vw;
    border-radius: 100px;
    background-color: rgb(5, 134, 41);
    transform: translate(25vw, 30vh);
}
.card2::after{
    content:'';
    width: 30vw;
    position: absolute;
    z-index: 3;
    height: 30vw;
    border-radius: 100px;
    background-color: rgb(255, 51, 0);
    transform: translate(25vw, 30vh);
} */
.cta{
    width: 85vw;
    margin-top: 10vh;
    height: 10vh !important;
 background-color: RED;

    margin-top: 5vh;
    font-size: 1.64rem;
    border-radius: 9px;
    color: wheat;
} 
.cards{
    display: flex;
    margin-top:5vh;
    height: 90vh;
    gap: 10vh;
   
    justify-content: space-around;
    flex-direction: column;
}
.cta3{
    width: 85vw;
    height: 10vh;
    filter: drop-shadow(0px , 5px , 2px black);

    margin-top: 5vh;
    font-size: 1.64rem;
    border-radius: 9px;
    color: wheat;
    background-color: rgb(52, 140, 17);

    transform: translateY(123.5vh);
}
.cta4{
    width: 85vw;
    height: 10vh;
    background-color: red;
    margin-top: 5vh;
    font-size: 1.64rem;
    border-radius: 9px;
    color: wheat;
    transform: translateY(260vh);

}
.cta2details{
    font-size: 2rem;
    transform: translateY(3.5vh);
    text-align: center;

}
.sectionthree{
    height: 200vh;
    transform: translateY(445vh);

    flex-direction: column;
    display: flex;
    align-items: center;

}
.cta5{
    width: 85vw;
    height: 10vh;
    background-color: red;
    margin-top: 5vh;
    font-size: 1.64rem;
    border-radius: 9px;
    color: wheat;
}
.sliderr{
    height: 200vh;

    text-align: center;
    transform: translateY(420vh);
    background: rgb(0,0,0);
    background: -moz-linear-gradient(230deg, rgba(0,0,0,1) 0%, rgba(44,0,0,1) 18%, rgba(49,0,0,1) 56%, rgba(131,1,1,1) 100%, rgba(192,1,1,1) 100%);
    background: -webkit-linear-gradient(230deg, rgba(0,0,0,1) 0%, rgba(44,0,0,1) 18%, rgba(49,0,0,1) 56%, rgba(131,1,1,1) 100%, rgba(192,1,1,1) 100%);
    background: linear-gradient(230deg, rgba(0,0,0,1) 0%, rgba(44,0,0,1) 18%, rgba(49,0,0,1) 56%, rgba(131,1,1,1) 100%, rgba(192,1,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#c00101",GradientType=1); 
    padding-top: 20vh;

}
.sliderr h1{
    text-align: center;
    font-size: 4.4rem;
    transform: translateY(-5vh);
    color: white;

}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    height: 40vh;
    color: white;
    font-size: 3rem;;

}
.sliderr span{
    font-size: 1.82rem;
 

}
.sld{
    height: 40vh;
    background-image: url('/as.jpg');
    width: 100vw;
    background-size: cover;
    scale: .8;
    filter: drop-shadow(0px 13px 33px rgba(255, 0, 0, 0.524));
}

.greaterinfoheader{
    font-size: 3.6rem;
    max-width: 100vw;

}.greaterinfosmall{
    font-size: 2.4rem;


}
.greaterinfoheader2{
    font-size: 2.4rem;

}
.greaterinfosmall2{
    font-size: 2.4rem;
    color:white;



}
.classicinfo2{
    font-size: 2.4rem;
    color:white;
    margin-top: 5vh;

}
.classicboxheader{
    font-size: 6.4rem;
    text-align: center;
    line-height: 80px;

}
.classicsmallheader{
    text-align: center;
    font-size: 2.6rem;
}
.classicinfo{
    text-align: center;
    font-size: 2.16rem;
    margin-top: 3vh;
}
/* .cta{
    width: 85vw;
    height: 7vh;
    background-color: red;
    margin-top: 15vh;
    font-size: 1.4rem;
    border-radius: 9px;
    color: wheat;
   
} */