
@media screen and (min-height: 700px){

.sectionone p{
    transform: translateY(10vh);
}
.sectiontwo{
    transform: translateY(25vh);

}
.zinoclassic{
    transform: translateY(35vh);

}
.pull{
    transform: translateY(25vh)!important;

}.three{
    transform: translateY(2000px) !important;

}
.zinosurprise{
 margin-top:200vh !important;

}
.goodies{
    margin-top: 200vh !important;
}
.sliderr{
    margin-top: 305vh !important;
    
}
.footer{
height: 100vh !important;
}
.footer li{
    transform: translateY(-5vh);
    scale: 1.82;
    margin-top: 20px;
}
}



@media screen and (min-height: 800px){
    .zinosurprise{
        margin-top:240vh !important;
       
       }
}
@media screen and (min-height: 900px){
    .zinosurprise{
        margin-top:284vh !important
       
       }
       .video{
        margin-top:24vh !important

       }
       .goodies{
        margin-top: 240vh !important;
    }
       .three{
        transform: translateY(2000px) !important;
       }
       .sliderr{
        margin-top: 350vh !important;
       }
       .sectiontwo{
        transform: translateY(50vh) !important;
    
    }
    .zinoclassic{
        transform: translateY(55vh) !important;

    }
}

@media screen and (min-height: 800px){
    .zinosurprise{
        margin-top:240vh !important;
       
       }
}
@media screen and (max-height: 630px){
    
    .zinosurprise{
        margin-top:184vh !important
       
       }
       .goodies{
        margin-top: 130vh !important;
    }
       .three{
        transform: translateY(1700px) !important;
       }
       .sliderr{
        margin-top: 230vh !important;
       }
       .sectiontwo{
        transform: translateY(50vh) !important;
    
    }
    .zinoclassic{
        transform: translateY(55vh) !important;

    }
}









.sliderContainer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    scale: .8;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.sliderTrack {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 400px;
}

.slideImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
}

.activeIndicator {
    background: white;
}

/* @media (max-width: 768px) {
    .slide {
        height: 300px;
    }
} */


    .sectionone p{
        font-size: 1.97rem ;
        text-align: center;
      margin-top: 468px;
 
    
    
       /* Standard property for Firefox */
    /* Ensures the text is transparent for Firefox */
    
    
      
    
    
    }

    .classicsmallheader2{
        letter-spacing: 3px;
  font-size: 1.8rem;
  /* transform: translateY(-50vh); */
  color: #ff0202;
max-width: max-content !important;
  font-family: var(--font-geist-mono);
  width: max-content;
  scale: .9;
  font-weight: lighter;
    }
    .classicsmallheader{
        /* scale: .85; */
        margin-top: 50px;
        max-width: 100%;
    }
    .classicboxheader{
        font-size: 5.6rem !important;
  text-align: center;
  line-height: 80px;
  width: 100vw;


    }
    .br{
        margin-top: 10px;
    }
    .sectiontwo{
    margin-top: 200px;
    }
    .surpriseboxheader{
        font-size: 5.16rem !important;   
    }
    .cta3{
        width: 85vw;
  height: 10vh;
  filter: drop-shadow(0px , 5px , 2px black);
  /* margin-top: 5vh; */
  font-size: 1.64rem;
  border-radius: 9px;
  margin-top: 50px;
  color: white;
  background-color: rgb(52, 140, 17);
 

    }


.canvas{
    width: 100vw;
    height: 100vh; 
    overflow: hidden; 
    font-family: var(--font-geist-sans);
    background-color: rgb(240, 240, 240);
}

.sectionone{

    height:800px;
 
   
}
.sectionone h1{

    max-width: 100vw;
    line-height: 60px;
    margin-top: 40px;
    text-align: center;
    /* margin-top: 10vh; */

    font-size: 3.6em;
}
.canvas button{
    font-family: var(--font-geist-sans);

}
.goodies li {
    /* margin-top: .45vh; */
    font-family: var(--font-geist-mono);
}
.lock {
    color: red;
    text-decoration: underline;
    text-decoration-color: #ff0202; /* Adjust color as needed */
    text-decoration-style:dotted;
  }
  .cls{
    color: rgb(52, 140, 17);
    text-decoration: underline;
    text-decoration-color:rgb(52, 140, 17); /* Adjust color as needed */
    text-decoration-style: dotted;

  }
  .srp{
    color: red;
    text-decoration: underline;
    text-decoration-color: #ff0202; /* Adjust color as needed */
    text-decoration-style:dotted;


  }
  



.toppart{
    display: flex;
    flex-direction: column;

}
.sectiontwo{
    height: 700px;
    /* MARGIN-TOP: 130VH; */

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.secondparagraph{
    font-size: 1.94rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: .46;
    font-family: var(--font-geist-mono);
padding-left: 10px;
padding-right: 10px;
    max-width: 100%;
    


}
.zinoclassic{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
   /* margin-top: -40vh; */

}
.surpriseboxheader{
    font-size: 6rem;
    text-align: center;
/* margin-top: 20vh; */
    line-height: 80px;
}

.classicinfo{
  
    opacity: .46;
    font-family: var(--font-geist-mono);


}

.classicsmallheader2{
    letter-spacing: 3px;
    font-size: 1.8rem;
    margin-top: 50px;
  font-weight: 600;
    
    color:#ff0202;
    max-width: 90vw;

    font-family: var(--font-geist-mono);

   
}
.zinosurprise{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(1000px);
margin-top: 1100px;
 
    text-align: center;
}
.three{
display: flex;
transform: translateY(1700px);
flex-direction: column;
gap: 20px;
justify-content: center;
align-items: center;
}
.goodies{
    color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    /* display: none; */
    text-align: center;
    scale: .57;
    margin-top: 900px;
    transform: translate(150px,2500px);
   
}
.goodies li{
    background-color: rgba(22, 21, 21, 0.748);
    border-radius: 19px;
    width: 60vw;
    height: 5vh;
    margin-top: 25px;
    color:white;
}
.surpriseinfo{
    text-align: center;
    font-size: 2rem;
 /* margin-top: 5vh; */
    color: rgb(0, 0, 0);
    opacity: .67;
    scale: .9;

    font-family: var(--font-geist-mono);

}
.cta4{
    /* transform: translateY(0vh); */
    margin-top: 50px;
}
.products{
    font-size: 3.4rem;
    scale: .9;
    text-align: center;
    color: rgb(0, 0, 0);

    line-height: 50px;
}
.products span{
 color:rgb(29, 102, 0); /* Adjust color as needed */

}
.productinfo{
    font-size: 1.8rem;
    text-align: center;
    margin-top: 40px;
    
    font-family: var(--font-geist-mono);
    color: rgb(20, 20, 20);


}


.cta{
    width: 85vw;
    /* margin-top: 10vh; */
    height: 10vh !important;
 background-color: RED;

    /* margin-top: 5vh; */
    font-size: 1.64rem;
    border-radius: 9px;
    color: white;
    margin-top: 50px;
} 

.cta3{
    width: 85vw;
    height: 10vh;
    filter: drop-shadow(0px , 5px , 2px black);

    /* margin-top: 5vh; */
    font-size: 1.64rem;
    border-radius: 9px;
    color: white;
    background-color: rgb(52, 140, 17);

    /* transform: translateY(63.5vh); */
}
.cta4{
    width: 85vw;
    height: 10vh !important;
    background-color: red;
    /* margin-top: 5vh; */
    font-size: 1.64rem;
    border-radius: 9px;
    color: white;
    /* transform: translateY(240vh); */

}
.cta2details{
    font-size: 2rem;
 
    text-align: center;

}
.sectionthree{
    height: 400px;
   

    flex-direction: column;
    display: flex;
    align-items: center;
    background: rgba(246, 246, 246, 0);
    /* background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,39,6,1) 18%, rgba(14,49,0,1) 56%, rgba(0,109,6,1) 100%, rgba(192,1,1,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,39,6,1) 18%, rgba(14,49,0,1) 56%, rgba(0,109,6,1) 100%, rgba(192,1,1,1) 100%);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,39,6,1) 18%, rgba(14,49,0,1) 56%, rgba(0,109,6,1) 100%, rgba(192,1,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#c00101",GradientType=1);  */

}
.footer span{
    transform: translateY(40px);
 
}
.pull{
    position: absolute;
    display: flex;
    font-family: var(--font-geist-mono);
    transform: skewX(12deg);

    align-items: center;
    justify-content: center;
    background-color: #2c8e02;
    width: 150px;
    margin-left: 20px;

    height: 50px;
    text-align: center;
    text-shadow: 3px 6px 3px rgba(0, 0, 0, 0.534);
    letter-spacing: 2.5px;
    border-radius: 9px;
    margin-top: 1480px;
    font-size: 1.32rem;
    filter: drop-shadow(0px 0px 2px black);
    color: white;
}
.push{
    position: absolute;
    display: flex;
    font-family: var(--font-geist-mono);

    align-items: center;
    justify-content: center;
    background-color: #c20505;
    width: 150px;
    margin-left: 20px;

    height: 50px;
    text-align: center;
    text-shadow: 3px 6px 3px rgba(0, 0, 0, 0.534);
    letter-spacing: 2px;
    border-radius: 9px;
    margin-top: 1800px;
    transform: skewX(12deg);

    font-size: 1.32rem;
    filter: drop-shadow(0px 0px 2px black);
    color: white;
}
.video{
    height: 500px;
 
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cta5{
    width: 85vw;
    height: 10vh;
    background-color: black;
    /* margin-top: 5vh; */
    font-size: 1.64rem;
    border-radius: 9px;
    color: white;
}
.sliderr{
    height: auto;
margin-top: 1500px;
transform: translateY(1500px);
    text-align: center;


  
 

}
.sliderr h1{
    text-align: center;

    


}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
   height: 300px;
border-top: 3px dashed red;
    color: rgb(213, 0, 0);


}

.sliderr span{
    font-size: 1.12rem;

 

}
.sld{
    height: 40vh;
    background-image: url('/as.jpg');
    width: 100vw;
    background-size: cover;
    scale: .8;
    border-radius: 13px;
    filter: drop-shadow(0px 13px 33px rgba(0, 0, 0, 0.33));
}
.footer li{
    list-style: none;
    font-size: 1.42rem;
}
.footer li::after{
content: '';
position: absolute;
width: 10vw;
height: 10vw;
background-image: url('/right-up.png');
background-size: contain;
background-repeat: no-repeat;
scale: .5;
}
.greaterinfoheader{

    font-size: 3.65rem;
    scale: .9;
    text-align: center;
    color:  rgb(0, 0, 0);

    line-height: 50px;

}

.greaterinfoheader span{
    font-size: 3.65rem;
    color: rgb(199, 0, 0);


}.greaterinfosmall{
    font-size: 2.4rem;
  
    


}
.greaterinfoheader2{
    font-size: 2.4rem;

}
.greaterinfosmall2{
    font-size: 1.8rem;
font-weight: lighter;
    padding-left: 5vw;
    padding-right: 5vw;
    transform: translateY(20px);
  

    font-family:var(--font-geist-mono);
 

}
.footer span{
    color: white;
font-weight: 100;
letter-spacing: 2px;
    font-size: .94rem;

   
}
.classicinfo2{
    font-size: 2rem;
    color:rgb(6, 6, 6);
    transform: translateY(20px);

    /* margin-top: .5vh; */
    scale: .9;
    font-family:  var(--font-geist-mono);
opacity: .67;
}
.classicboxheader{
    font-size: 6.4rem;
    text-align: center;
    line-height: 80px;

}
.classicsmallheader{
    text-align: center;
    font-size: 1.8rem;
    color: rgb(52, 140, 17);
    font-family: var(--font-geist-mono);
    font-weight: lighter;

}
.classicinfo{
    text-align: center;
    font-size: 2rem;
    /* margin-top: 3vh; */
    scale: .9;
    font-family:var(--font-geist-mono);
}
/* .cta{
    width: 85vw;
    height: 7vh;
    background-color: red;
    margin-top: 15vh;
    font-size: 1.4rem;
    border-radius: 9px;
    color: white;
   
} */